	# gitignore: All the drafts
drafts/*
appendix/*
doc/*
reviews/*
sample_thesis/*
TO_resources/*
Forbidden Transition/*
infrastructure/*
res/*
# huge numbers of figs
fig/*
# gdrive stuff
*.ini
# matlab files
*.m
*.fig
# Various image types not used
*.png
*.epsc
*.log
*.aux
*.bcf
*.mm
