# gitignore: All the drafts
drafts/*
reviews/*
sample_thesis/*
TO_resources/*
Forbidden Transition/*
# huge numbers of qd figs
fig/depletion/runs/*
fig/apparatus/ComponentLibrary/*
# gdrive stuff
*.ini
# matlab files
*.m
*.fig
# Various image types not used
*.png
*.epsc


